/* variables */
:root {
    --base-color: #242528;
    --second-color: #f4f5f6;
    --third-color: #6984bf;
    --fourth-color: #687492;
    --fifth-color: #2f3b3e;
    --sixth-color: rgba(30, 31, 35, 0.5);
    --seventh-color: rgba(255, 255, 255, 0.7);
}

/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url("../img/dark_brick_wall/dark_brick_wall.png");
    /* Background pattern from Toptal Subtle Patterns */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* media queries*/
@media only screen and (min-width: 750px) {

}
